* {
    margin: 0;
    padding: 0;

}

/* Flex */
.flex {
    display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}


/* Classes containing positions */

.left_padding {
    padding-left: 10px;
	position: absolute;
	left: 0;
	margin-left: 20px;
}

.top_padding {
	padding-top: 20px;
}

.top_margin {
	margin-top: 20px;
}

.right_padding {
    margin-right: 20px;
}

/* Navigation bar */
#navigation {
    padding: 30px;
    background-color: #393939;
    color: bisque;
    margin: 1px;
}

#navigation a {
    color: #b2d5d8;
}

#navigation a:hover {
    color: #3555f1;
}

/* Dog image */

/* General */

.dog-image {
    width: 500px;
    height: auto;
}

.content {
	height: calc(100vh - 300px);
	padding: 75px;
}

#pet_group {
	width: 80vw;
	height: auto;
}

#register {
    width: auto;
    height: 5.67vw;
	position: absolute;
	top: 0;
	left: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #2143ee;
}

.button {
    background-color: #707fcd;
    border: 1px solid #707fcd;
    color: #ffffff;
    width: auto;
    height: auto;
    border-radius: 5px;
}

.button:hover {
    background-color: bisque;
    color: #0b164c;
}

.page_not_found {
	background-image: url('/static/image/404.jpg');
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: contain;
	min-width: 100%;
	min-height: 100%;
}

