<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css">

</head>
<body>
  <div id="navigation" class="flex justify-between">
    <div>
      <a href="/"></a>
    </div>
    <div class="links">
    {% if not g.user %}
    <a class="right_padding" href="/register">Register</a>
    <a class="right_padding" href="/login">Log In</a>
    {% else %}
    <a class="left_padding" href="/">Home</a>
    <a class="right_padding" href="/search">Search Dog breeds</a>
    <a class="right_padding" href="/breeds">Browse all breeds</a>
    <a class="right_padding" href="/logout">Logout</a>
    {% endif %}
    </div>
  </div>

  <div class="content">
    {% block content %}

    {% endblock %}    
  </div>

  <script src="https://unpkg.com/axios/dist/axios.js"></script>

</body>
</html>