<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Dog Wiki</h1>

    <h2>Welcome to the dog wiki page!</h2>
    <div>
        <h4>Search for a specific breed
            <a href="/search">here</a>
        </h4>
        <h4>See a list of all available breeds 
            <a href="/breeds">here</a>
        </h4>
        <h4>Don't have a dog in mind? You can fetch a random dog
            <a href="/random">here</a>
        </h4>
    </div>
</body>
</html>