{% extends 'base.html' %}
{% block content %}

<h2>Register for our site</h2>

<form class="top_padding flex-col" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
          <span>{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control") }}
  {% endfor %}

  <button class="button top_margin">Sign me up!</button>
</form>

<div class="top_padding">
  <img id="register" src="../static/image/register.png" alt="cute dog picture for register page">
</div>

{% endblock %}