{% extends 'base.html' %}

{% block body_class %}Register new user{% endblock %}

{% block content %}

<h1>Register</h1>
<p>Register to our site.</p>

<form class="top_padding flex-col" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
          <span>{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control") }}
  {% endfor %}

  <button class="button top_margin">Register!</button>
</form>

{% endblock %}